<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav>
        <a href="/">Home</a>
        <a href="/reviews">Reviews</a>
        <a href="/orders">Orders</a>
        <a href="/users">Users</a>
        <a href="/products">Products</a>
      </nav>
    <p>Welcome to Home Page</p>
  </body>
</html>
